html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  margin: 0;
  position: relative;
  overflow: hidden;
  max-height: 500px;

  /* align-items: center; */
  /* justify-content: center; */
}

.body {
  margin: 0;
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  max-width: 35em;
  left: 50%;
  bottom: 0;
  top: 0;
  transform: translateX(-50%);
}

img {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  padding-left: 1em;
}

.banner .img-flex {
  margin: 0;
}

h2 {
  margin: 0;
  font-family: Roboto-Condensed, sans-serif;
  font-size: 2rem;
  line-height: 1;
}

p {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  padding-bottom: .5em;
}

a {
  margin: 0;
  font-family: Roboto-Condensed, sans-serif;
}

.btn {
  display: inline-block;
  margin: 0;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
