html {
  box-sizing: border-box;
  font-family: Roboto, "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

.body {
  margin: 0;
  max-height: 500px;
/* position: relative;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: 0; */
}

.img-flex {
  position: relative;
  width: 100%;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: block;

  overflow: hidden; */
}

/* .banner {
  position: absolute;
  width: 100%;
  max-width: 45em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
}

.banner .img-flex {
  margin: 0;
} */
